VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a75d08c001eeceb4284
VITE_APPWRITE_DATABASE_ID=6a75d1c1003d984001d2
VITE_APPWRITE_COLLECTION_PROFILES=profiles
VITE_APPWRITE_COLLECTION_CALCULATIONS=calculations